@model _5204_LearnCodeApp.Models.ViewModels.UpdateCoder
@{
    ViewBag.Title = "View";
}

<h2>User Profile</h2>


@using (Html.BeginForm())
{
    //This will set a hidden input field with value "_RequestVerificationToken"
    //The CoderController Create Method will look for this token
    //This helps secure the Create() method from being called from other pages.

    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Your Name</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Coder.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Coder.FirstName, new { htmlAttributes = new { @class = "form-control", Name = "FirstName" } })
            @Html.ValidationMessageFor(model => model.Coder.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Coder.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Coder.LastName, new { htmlAttributes = new { @class = "form-control", Name ="LastName" } })
            @Html.ValidationMessageFor(model => model.Coder.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Coder.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Coder.UserName, new { htmlAttributes = new { @class = "form-control", Name ="UserName" } })
            @Html.ValidationMessageFor(model => model.Coder.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>