@model _5204_LearnCodeApp.Models.ViewModels.ShowCoder

@{
    ViewBag.Title = "Details";
}

<h2> @Model.Coder.UserName</h2>
<div style="overflow:hidden;">
    <div style="float:left; margin-right:2%; width:49%">
        <div>
            <button type="button" class="btn btn-secondary btn-lg"> @Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.Coder.CoderID }) </button></div>
        <hr />
        @{ 
            //Use server rendering to determine an image
            string pic = "/Content/Coders/default.jpg";
            string alt = "No Profile Picture Provided";
            if (Model.Coder.CoderHasPic)
            {
                pic = "/Content/Coders/" + Model.Coder.CoderID + "." + Model.Coder.PicExtension; //image file does not print
                alt = "Profile shot of " + Model.Coder.FirstName + " " + Model.Coder.LastName; //lastname does not not print 
            }

        }
          
        <div class = "imagecontainer featured">
            <img src="@pic" alt="@alt" />
        </div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Coder.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Coder.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Coder.CoderBio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Coder.CoderBio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Coder.CoderURL)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Coder.CoderURL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Coder.ResourceTitle)
            </dt>
            @*<dd>
                @Html.ActionLink(Model.Coder.ResourceTitle, "Resource", "Resource Title", new { id = Model.Coder.ResourceID }, new { })
            </dd>*@

        </dl>


    </div>
    <p>
        <button type="button" class="btn btn-secondary btn-lg">@Html.ActionLink("Edit", "Edit", new { id = Model.Coder.CoderID })</button>
        <button type="button" class="btn btn-secondary btn-lg">@Html.ActionLink("Back to List", "List")</button>
        
    </p>

</div>

