@model IEnumerable<_5204_LearnCodeApp.Models.CoderDto>

@{
    ViewBag.Title = "List";
}

<h2>Users </h2>
<div>
    <img src="~/Content/icons/pencil_blush.png" alt="" style="width:30%"/>
</div>
<p>
    <button type="button" class="btn btn-secondary btn-lg"> @Html.ActionLink("Create New", "Create")</button>
</p>

<!--Future feature: add pagination: add ampersand in front of Html
   <div class="paginate">
   {
        int PrevPage = Convert.ToInt32(ViewData["PageNum"]) - 1;
        int NextPage = Convert.ToInt32(ViewData["PageNum"]) + 1;
        Html.ActionLink("Prev", "List", new { PageNum = PrevPage })
        ViewData["PageSummary"]
        Html.ActionLink("Next", "List", new { PageNum = NextPage })
    }
</div>


 -->

<div class="record-container">
    @foreach (var coder in Model)
    {
        <div class="record">
            <div class="_record">
                @{
                    //User server rendering to determine an image
                    string pic = "/Content/Coders/default.jpg";
                    string alt = "No Profile Picture Provided";
                    
                   

                    if (coder.CoderHasPic)
                    {
                        pic = "/Content/Coders/" + coder.CoderID + "." + coder.PicExtension;
                        alt = "Profile shot of " + coder.FirstName + " " + coder.LastName;
                        

                    }
                }

                <nav class="linknav">
                    <span class="editlink"><button type="button" class="btn btn-secondary btn-sm">@Html.ActionLink("Edit", "Edit", new { id = coder.CoderID })</button></span>
                </nav>
                <div class="imagecontainer">
                    <img src="@pic" alt="@alt" />
                </div>
                <div class="recordtitle">
                    @Html.ActionLink(coder.FirstName + " " + coder.LastName, "Details", new { id = coder.CoderID })
          
                </div>
            </div>
        </div>
    }


</div>




@*<td>
        @Html.ActionLink("Edit", "Edit", new { id = coder.CoderID }) |
        @Html.ActionLink("Details", "Details", new { id = coder.CoderID })

    </td>*@






