@model IEnumerable<_5204_LearnCodeApp.Models.CoderDto>

@{
    ViewBag.Title = "List";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="record-container">
    @foreach (var coder in Model)
    {
    <div class="record">
        <div class="_record">
            @{
                //User server rednering to determine an image
                string pic = "/Content/Coders/default.jpg";
                string alt = "No Profile Picture Provided";
                if (coder.CoderHasPic)
                {
                    pic = "/Content/Coders/" + coder.CoderID + "." + coder.PicExtension;
                    alt = "Profile shot of " + coder.FirstName + " " + coder.LastName;
                }
            }

            <nav class="linknav">
                <span class="editlink">@Html.ActionLink("Edit", "Edit", new { id = coder.CoderID })</span>
            </nav>
            <div class="imagecontainer">
                <img src="@pic" alt="@alt" />
            </div>
            <div class="recordtitle">
                @Html.ActionLink(coder.FirstName + " " + coder.LastName, "Details", new { id = coder.CoderID })
            </div>
        </div>
    </div>
    }


</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CoderID }) |
        @Html.ActionLink("Details", "Details", new { id = item.CoderID })

    </td>
</tr>
    }

</table>


