@model _5204_LearnCodeApp.Models.ViewModels.ShowResource

@{
    ViewBag.Title = "Details";
}

<h2>Resource @Model.Resource.ResourceTitle</h2>
<div style="overflow:hidden;">
    <div style="float:left; margin-right:2%; width:49%">
        <div>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.Resource.ResourceID })</div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Resource.ResourceTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resource.ResourceTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Resource.ResourceDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resource.ResourceDescription)
            </dd>

        </dl>


    </div>

</div>

