@model IEnumerable<_5204_LearnCodeApp.Models.ResourceDto>

@{
    ViewBag.Title = "View";
}

<h2>Resources</h2>
<div>
    <button type="button" class="btn btn-secondary btn-lg">@Html.ActionLink("Create New", "Create")</button>
</div>
<img src="\Content\icons\Croods - Keeping in Touch.png" />

<div class="table-responsive">
    <table class="table table-hover ">
        <tr>
            <th class="col-3">
                @Html.DisplayNameFor(model => model.ResourceTitle)
            </th>
            <th class="col-5">
                @Html.DisplayNameFor(model => model.ResourceDescription)
             </th>
            <th class="col-4"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResourceTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResourceDescription)
                </td>
                <td>
                    <button type="button" class="btn btn-secondary ">@Html.ActionLink("Edit", "Edit", new { id = item.ResourceID }) </button>
                    <button type="button" class="btn btn-secondary ">@Html.ActionLink("Details", "Details", new { id = item.ResourceID })</button>
                    @*<button type="button" class="btn btn-secondary">@Html.ActionLink("Delete", "DeleteConfirm", new { id = item.ResourceID })</button>*@
                </td>
            </tr>
        }

    </table>
</div>

